{#
/**
 * @file
 * Olivero's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

{% set layout = layout ? 'layout--' ~ layout|clean_class %}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    layout ? 'grid-full',
    layout ? 'ie11-autorow',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{# banner #}
{% set banenr_title = node.field_banner_title.0.value %}
{% set banner_intro = node.field_banner_intro.0.value %}
{% set banner_cta_url = node.field_banner_cta.get(0).getUrl().toString() %}
{% set banner_cta_title = node.field_banner_cta.0.title %}
{% set banner_image_url = node.field_image.entity|file_url %}
{% set banner_image_alt = node.field_image.0.alt %}

{# Card listing #}
{% set card_listing = node.field_card_listing %}
{% set card_listing_heading = card_listing.entity.field_heading.value %}
{% set card_listing_content = card_listing.entity.field_content.value %}
{% set card_listing_count = card_listing.entity.field_content.value|length %}

<article{{attributes.addClass(classes)}}>
	<header class="{{ layout }}">
		{{ title_prefix }}
		{% if label and not page %}
			<h2{{title_attributes.addClass('node__title')}}>
				<a href="{{ url }}" rel="bookmark">{{ label }}</a>
			</h2>
		{% endif %}
		{{ title_suffix }}
		{% if display_submitted %}
			<div class="node__meta">
				{% if author_picture %}
					<div class="node__author-image">
						{{ author_picture }}
					</div>
				{% endif %}
				<span{{author_attributes}}>
					{{ 'By'|t }}
					{% apply spaceless %}{{ author_name }}{% endapply %},
					{{ date }}
				</span>
				{{ metadata }}
			</div>
		{% endif %}
	</header>
	<div{{content_attributes.addClass('node__content',layout)}}>{# Comments not part of content, so they won't inherit .text-content styles. #}
		{# {{ content|without('comment') }} #}
	</div>
	<section class="main-banner">
		<div class="container">
			<div class="row">
				<div class="col-6">
					{% if banenr_title %}
						<h1>{{ banenr_title }}</h1>
					{% endif %}
					{% if banner_intro %}
						<p>{{ banner_intro }}</p>
					{% endif %}
					{% if banner_cta_url and banner_cta_url %}
						<a href={{banner_cta_url}} rel="">{{banner_cta_url}}</a>
					{% endif %}
				</div>
				{% if banner_image_url and banner_image_alt %}
					<div class="col-6">
						<figure class="">
							<img src="{{banner_image_url}}" alt="{{banner_image_alt}}" title="{{banner_image_alt}}"/>
						</figure>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
	{% if card_listing_count > 0 %}
		<section class="card-listing">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2>{{ card_listing_heading}}</h2>
					</div>
				</div>
				<div class="row">
					{% for i in range(1, card_listing_count) %}
						{% set card_item = drupal_entity('paragraph', card_listing_content[loop.index0].target_id) %}
						{% set card = card_item['#paragraph'] %}
						{% set card_title = card.field_card_title.value %}
						{% set card_intro = card.field_card_intro.value %}
						{% set card_cta_url = card.field_card_cta.get(0).getUrl().toString() %}
						{% set card_cta_title = card.field_card_cta.0.title %}
						<div class="col-4">
							{% if card.field_card_image %}
								{% set card_image_url = card.field_card_image.entity|file_url %}
								{% set card_image_alt = card.field_card_image.0.alt %}
								<figure class="">
									<img src="{{card_image_url}}" alt="{{ card_image_alt }}" title="{{ card_image_alt }}"/>
								</figure>
							{% endif %}
							{% if card_title %}
								<h3>{{card_title}}</h3>
							{% endif %}
							{% if card_intro %}
								<p>{{card_intro}}</p>
							{% endif %}
							{% if card_cta_url and card_cta_title %}
								<a href={{card_cta_url}}>{{card_cta_title}}</a>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	{% endif %}
	{% if content.comment %}
		<div id="comments" class="{{ layout }}">
			{{ content.comment }}
		</div>
	{% endif %}
</article>
